/* ABOUT COMPONENT */

/* Style dla głównego kontenera komponentu */
.about-container {
	display: flex; /* Ustawienie kontenera na flexbox */
	flex-direction: column; /* Ustawienie kierunku flexbox na kolumnę */
	gap: 0.5rem; /* Ustawienie odstępu między elementami w kontenerze */
	padding: 10px; /* Wewnętrzny margines kontenera */
}

/* Wyjustowanie tekstu dla paragrafów w kontenerze */
.about-container p {
	text-align: justify; /* Wyjustowanie tekstu */
}

/* Pogrubienie, pochylenie oraz dekoracja tekstu */
.source-code-link {
	font-weight: bold; /* Pogrubienie tekstu */
	font-style: italic; /* Pochylenie tekstu */
	text-decoration: underline; /* Podkreślenie tekstu */
}