/* CONTACT COMPONENT */

/* Style dla głównego kontenera z mapką */
.contact-localization {
	display: flex;
	width: 100%;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 10px;
	gap: 0.5rem;
}

/* Style dla głównego kontenera komponentu */
.contact-container {
	display: flex;
	width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
	gap: 2rem;
}

/* Style dla kontenera mapki */
.googlemap {
	width: 100%;
	margin: auto;
	background: gray;
	overflow: hidden;
}

/* Style bezpośrednio dla mapki */
.googlemap > iframe {
    width: 100%;
    height: auto;
    min-height: 70vh;
    border: 0;
}

/* Style dla kontenera z informacjami kontaktowymi bez mapki */
.contact-section {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
	gap: 1rem;
}

/* Style dla następujących informacji: adres email, numery telefonu, adres */
.contact-ways {
	margin: 0;
	padding: 0 20px;
}

/* Zapytania o media */
@media screen and (min-width: 1400px) {
	/* Zmiana orientacji konenera z kolumny na wiersz */
	.contact-info {
		flex-direction: row;
	}

	/* 
	"flex-basis" określa domyślny rozmiar elementu przed rozdzielaniem pozostałej przestrzeni między elementy
	*/
	/* 30% dostępnej przestrzeni */
	.contact-section {
        flex-basis: 30%;
    }

	/* 65% dostępnej przestrzeni */
	.contact-localization {
		flex-basis: 65%;
	}
}

/* Style dla maila */
.contact-mail {
	text-decoration: underline;
}

/* Style dla linku do rezerwacji */
.contact-inner-link {
	text-decoration: underline;
	font-weight: bold;
	font-style: italic;
}