/* CONTACT COMPONENT */

/* Style dla głównego kontenera z mapką */
.contact-localization {
	display: flex; /* Ustawienie kontenera na flexbox */
	width: 100%; /* Szerokość kontenera */
	flex-wrap: wrap; /* Zawijanie elementów w kontenerze */
	justify-content: space-between; /* Rozłożenie elementów w kontenerze */
	padding: 10px; /* Wewnętrzny margines kontenera */
	gap: 0.5rem; /* Odstęp między elementami w kontenerze */
}

/* Style dla głównego kontenera komponentu */
.contact-container {
	display: flex; /* Ustawienie kontenera na flexbox */
	width: 100%; /* Szerokość kontenera */
    flex-wrap: wrap; /* Zawijanie elementów w kontenerze */
    justify-content: space-between; /* Rozłożenie elementów w kontenerze */
	gap: 2rem; /* Odstęp między elementami w kontenerze */
}

/* Style dla kontenera mapki */
.googlemap {
	width: 100%; /* Szerokość kontenera */
	margin: auto; /* Automatyczne wyśrodkowanie kontenera */
	background: gray; /* Kolor tła kontenera */
	overflow: hidden; /* Ukrycie elementów, które nie mieszczą się w kontenerze */
}

/* Style bezpośrednio dla mapki */
.googlemap > iframe {
    width: 100%; /* Szerokość mapki */
    height: auto; /* Wysokość mapki */
    min-height: 70vh; /* Minimalna wysokość mapki */
    border: 0; /* Usunięcie obramowania mapki */
}

/* Style dla kontenera z informacjami kontaktowymi bez mapki */
.contact-section {
    display: flex; /* Ustawienie kontenera na flexbox */
    flex-wrap: wrap; /* Zawijanie elementów w kontenerze */
    padding: 10px; /* Wewnętrzny margines kontenera */
	gap: 1rem; /* Odstęp między elementami w kontenerze */
}

/* Style dla następujących informacji: adres email, numery telefonu, adres */
.contact-ways {
	margin: 0; /* Zerowanie marginesu zewnętrznego */
	padding: 0 20px; /* Wewnętrzny margines */
}

/* Zapytania o media */
@media screen and (min-width: 1400px) {
	/* Zmiana orientacji konenera z kolumny na wiersz */
	.contact-info {
		flex-direction: row; /* Ustawienie kierunku flexbox na wiersz */
	}

	/* 
	"flex-basis" określa domyślny rozmiar elementu przed rozdzielaniem pozostałej przestrzeni między elementy
	*/
	/* 30% dostępnej przestrzeni */
	.contact-section {
        flex-basis: 30%;
    }

	/* 65% dostępnej przestrzeni */
	.contact-localization {
		flex-basis: 65%;
	}
}

/* Style dla maila */
.contact-mail {
	text-decoration: underline; /* Podkreślenie tekstu */
}

/* Style dla linku do rezerwacji */
.contact-inner-link {
	text-decoration: underline; /* Podkreślenie tekstu */
	font-weight: bold; /* Pogrubienie tekstu */
	font-style: italic; /* Pochylenie tekstu */
}