/* MAIN CSS */

/* Style dla wszystkich znaczników */
* {
	/* padding i border są zawarte wewnątrz szerokości i wysokości elementu, a nie dodawane do niej */
	box-sizing: border-box;
	border-width: 0; /* Szerokość obramowania dla wszystkich elementów wynosi 0 */
	margin: 0; /* Margines dla wszystkich elementów wynosi 0 */
}

/* Style dla znacznika html */
html {
	/* 
	Linijka poniżej ustawia odstęp między wierszami tekstu w elemencie HTML na 1.5
	To oznacza, że każdy wiersz tekstu będzie miał odstęp 1.5 razy większy niż wysokość czcionki.
	Na przykład, jeśli wysokość czcionki wynosi 16 pikseli, to odstęp między wierszami będzie wynosił 24 piksele
	*/
	line-height: 1.5;
	/* Ustawia rozmiar tabulatora na 4 spacje */
	tab-size: 4;
	/* Ustawia czcionkę */
	font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	/* Ustawia normalne ustawienia funkcji czcionki */
	font-feature-settings: normal;
	/* Ustawia normalne ustawienia wariacji czcionki */
	font-variation-settings: normal;
}

/* Style dla znacznika body */
body {
	/* Ustawia marginesy na 0 */
	margin: 0;
	/* Dziedziczy wysokość linii po elemencie nadrzędnym - html */
	line-height: inherit;
	/* Ustawia czcionkę na sans-serif, czyli taką, która nie ma ozdobników na końcach liter */
	font-family: sans-serif;
	/* Ustawia kolor tekstu na zmienną CSS o nazwie "primary-color" */
	color: var(--primary-color);
}

/* Style dla znacznika a */
a {
	/* dziedzicy kolor tekstu po elemencie nadrzędnym */
	color: inherit;
	/* dziedziczy dekorację tekstu po elemencie nadrzędnym */
	text-decoration: inherit;
}

/* Style dla znacznika button */
button {
	/* przezroczyste tło */
  	background-color: transparent;
	/* kursor wskaźnikowy */
	cursor: pointer;
}

/* Style dla znaczników img oraz svg */
img,
svg {
	/* 
	ustawia rodzaj wyświetlania na "block",
	czyli zaczyna się od nowej linii i zajmuje całą dostępną szerokość
	*/
  	display: block;
	max-width: 100%; /* Maksymalna szerokość obrazka wynosi 100% */
	height: auto; /* Wysokość obrazka jest automatycznie dostosowywana */
}

/* 
Style dla klasy hidden.
Pomocnicza klasa do np. usuwania elementów menu mobilnego
na desktopie lub elementów, które nie powinny być aktualnie widoczne.
*/
.hidden {
	display: none; /* Ukrycie elementu */
}

/*
Style dla pseudoklasy root.
Znajdują się tutaj zmienne CSS, które można wykorzystać w całym projekcie.
Trzy pierwsze są stworzone na podstawie kolorów logo strony. 
*/
:root {
	--primary-color: #352a11;
	--secondary-color: #a0927f;
	--accent-color: #ae6e29;
	--error-color: #f44336;
	--info-color: #2196f3;
}

/*
Style dla znacznika #app.
Jest to główny kontener, w którym znajduje się cała zawartość podstron SPA.
*/
#app {
	margin: 0 1.5rem;  /* Marginesy poziome wynoszą 1.5rem */
	gap: 1.5rem; /* Odstęp między elementami w kontenerze wynosi 1.5rem */
    min-height: 85vh; /* Minimalna wysokość kontenera wynosi 85vh, czyli 85% wysokości widoku */
}

/* Zapytanie o media dla minimalnej szerokości 768px */
@media screen and (min-width: 768px) {
	#app {
		margin-left: 7rem; /* Lewy margines wynosi 7rem */
		margin-right: 7rem; /* Prawy margines wynosi 7rem */
		min-height: 90vh; /* Minimalna wysokość kontenera wynosi 90vh, czyli 90% wysokości widoku */
	}
}

/* Style dla nagłówka strony. Znajduje się tu nawigacja oraz banner z godzinami otwarcia */
.header {
	position: sticky; /* Ustawienie pozycji na "sticky", czyli element "przykleja" się do góry ekranu */
	top: 0; /* Odległość od góry ekranu wynosi 0 */
	z-index: 50; /* Z-index wynosi 50, czyli element jest na wierzchu */
	background-color: #ffffff;  /* Kolor tła */
	/* cień, żeby nagłówek nie zlewał się z elementami "pod nim" */
	box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05); 
}

/* Style dla baneru z godzinami otwarcia */
.banner {
	padding-top: 0.25rem; /* Wewnętrzny margines górny wynosi 0.25rem */
	padding-bottom: 0.25rem; /* Wewnętrzny margines dolny wynosi 0.25rem */
	padding-left: 1rem; /* Wewnętrzny margines lewy wynosi 1rem */
	padding-right: 1rem; /* Wewnętrzny margines prawy wynosi 1rem */
	font-size: 0.75rem; /* Rozmiar czcionki wynosi 0.75rem */
	line-height: 1rem;  /* Wysokość linii wynosi 1rem */
	text-align: center; /* Wyśrodkowanie tekstu */
	font-weight: 650; /* Pogrubienie tekstu */
	color: #ffffff; /* Kolor tekstu */
	background: var(--primary-color); /* Kolor tła */
}

/* Style dla stopki strony */
footer {
	display: flex; /* Ustawienie kontenera na flexbox */
	flex-direction: column; /* Ustawienie kierunku flexbox na kolumnę */
	justify-content: center; /* Wyśrodkowanie elementów wzdłuż osi pionowej */
	align-items: center; /* Wyśrodkowanie elementów wzdłuż osi poziomej */
	padding: 1rem; /* Wewnętrzny margines wynosi 1rem */
	font-weight: 900; /* Pogrubienie tekstu */
	background: gray; /* Kolor tła */
	color: black; /* Kolor tekstu */
	font-size: 0.75rem; /* Rozmiar czcionki wynosi 0.75rem */
	line-height: 1rem;  /* Wysokość linii wynosi 1rem */
}

/* Style dla głównego kontenera z nawigacją desktopową */
.navigation {
	display: flex; /* Ustawienie kontenera na flexbox */
	padding-left: 1.25rem; /* Wewnętrzny margines lewy wynosi 1.25rem */
	padding-right: 1.25rem; /* Wewnętrzny margines prawy wynosi 1.25rem */
	justify-content: space-between; /* Rozłożenie elementów wzdłuż osi poziomej */
	border-bottom-width: 2px; /* Szerokość obramowania dolnego wynosi 2px */
	border-style: solid; /* Styl obramowania */
	width: 100%; /* Szerokość kontenera wynosi 100% */
	font-weight: 700; /* Pogrubienie tekstu */
	border-color: var(--secondary-color); /* Kolor obramowania */
}

/* Style dla logo */
.logo {
	display: flex; /* Ustawienie kontenera na flexbox */
	gap: 0.5rem; /* Odstęp między elementami w kontenerze */
	align-items: center; /* Wyśrodkowanie elementów wzdłuż osi pionowej */
	height: 4rem; /* Wysokość kontenera wynosi 4rem */
	font-weight: 800; /* Pogrubienie tekstu */
}

/* Style dla obrazka w logo */
.logo img {
	width: 2.5rem; /* Szerokość obrazka wynosi 2.5rem */
	height: 2.5rem;  /* Wysokość obrazka wynosi 2.5rem */
}

/* Style dla pomocniczego kontenera z menu desktopowym */
.desktop-menu {
	display: none; /* Ukrycie kontenera */
	padding: 1.25rem; /* Wewnętrzny margines wynosi 1.25rem */
	gap: 2rem; /* Odstęp między elementami w kontenerze */
	justify-content: center; /* Wyśrodkowanie elementów wzdłuż osi poziomej */
	align-items: center; /* Wyśrodkowanie elementów wzdłuż osi pionowej */
	list-style: none; /* Usunięcie domyślnego stylu listy */
}

/* Style dla elementów menu desktopowego */
.desktop-menu li a {
	border-radius: 5px; /* Zaokrąglenie rogów */
	padding: 0.75rem 1rem; /* Wewnętrzny margines wynosi 0.75rem na osi Y i 1rem na osi X */
	transition: all 0.2s ease-in-out; /* Efekt przejścia */
}

/* Style dla elementów menu desktopowego po najechaniu kursorem */
.desktop-menu li a:hover {
	background-color: var(--accent-color); /* Zmiana koloru tła */
	color: white; /* Zmiana koloru tekstu */
}

/* Style dla przycisku menu mobilnego */
.mobile-menu-button {
	display: flex; /* Ustawienie kontenera na flexbox */
	align-items: center; /* Wyśrodkowanie elementów wzdłuż osi pionowej */
	height: 4rem; /* Wysokość kontenera wynosi 4rem */
	font-style: italic; /* Pochylenie tekstu */
}

/* Zapytania o media dla minimalnej szerokości 850px */
@media (min-width: 850px) { 
	.desktop-menu {
		display: flex; /* Wyświetlenie kontenera */
		flex-direction: row; /* Ustawienie kierunku flexbox na wiersz */
	}

	.mobile-menu-button {
		display: none; /* Ukrycie kontenera */
	}

	.mobile-menu-trigger {
		display: none; /* Ukrycie kontenera */
	}
}

/* Style dla obrazku typu "burger button" dla przycisku menu mobilnego */
.mobile-menu-button svg {
	width: 2.5rem; /* Szerokość obrazka wynosi 2.5rem */
	height: 2.5rem; /* Wysokość obrazka wynosi 2.5rem */
}

/* Style dla kontenera pomocniczego menu mobilnego */
.mobile-menu {
	display: flex; /* Ustawienie kontenera na flexbox */
	position: absolute; /* Ustawienie pozycji na "stałą" względem całego dokumentu */
	padding: 0.5rem 1rem; /* Wewnętrzny margines wynosi 0.5rem na osi Y i 1rem na osi X */
	flex-direction: column; /* Ustawienie kierunku flexbox na kolumnę */
	gap: 0.25rem; /* Odstęp między elementami w kontenerze */
	width: 100%; /* Szerokość kontenera wynosi 100% */
	font-weight: 700; /* Pogrubienie tekstu */
	letter-spacing: 0.05em; /* Rozstawienie liter */
	color: #ffffff; /* Kolor tekstu */
	text-transform: uppercase; /* Zamiana tekstu na wielkie litery */
	background: var(--secondary-color); /* Kolor tła */
}

/* Style dla elementów menu mobilnego */
.mobile-menu li {
	display: flex; /* Ustawienie kontenera na flexbox */
	width: 100%; /* Szerokość kontenera wynosi 100% */
	text-align: center; /* Wyśrodkowanie tekstu */
}

/* Style dla przycisków menu mobilnego */
.mobile-menu li a {
	width: 100%; /* Szerokość kontenera wynosi 100% */
	border-radius: 10px; /* Zaokrąglenie rogów */
	padding: 0.25rem 0; /* Wewnętrzny margines wynosi 0.25rem na osi Y i 0 na osi X */
	transition: all 0.2s ease-in-out; /* Efekt przejścia */
}

/* Style dla przycisków menu mobilnego po najechaniu kursorem */
.mobile-menu li a:hover {
	background-color: var(--accent-color); /* Zmiana koloru tła */
}