/* MAIN COMPONENT */

/* Style dla głównego kontenera komponentu */
.main-container {
	display: flex; /* Ustawienie kontenera na flexbox */
	justify-content: center; /* Wyśrodkowanie elementów wzdłuż osi poziomej */
	align-items: center; /* Wyśrodkowanie elementów wzdłuż osi pionowej */
	flex-direction: column; /* Ustawienie kierunku flexbox na kolumnę */
	margin-bottom: 5rem; /* Margines dolny */
}

/* Style dla sekcji baneru z obrazkiem i "tekstem promocyjnym" */
.main-image {
	position: relative; /* Ustawienie pozycji na "stałą" względem kontenera-rodzica */
	color: white; /* Kolor tekstu */
	height: 20vh; /* Wysokość kontenera wynosi 20% wysokości ekranu */
	/* kalkuluje wysokość na całą szerokość wyświetlacza (100vw) minus szerokość scrolla (15px) */
	width: calc(100vw - 15px);
	display: flex; /* Ustawienie kontenera na flexbox */
	flex-direction: column; /* Ustawienie kierunku flexbox na kolumnę */
	justify-content: center; /* Wyśrodkowanie elementów wzdłuż osi pionowej */
	align-items: center; /* Wyśrodkowanie elementów wzdłuż osi poziomej */
	font-size: 1.25rem; /* Rozmiar czcionki */
	text-align: center; /* Wyśrodkowanie tekstu */
	/* 
	rzuca czarny cień na tekst, przez co jest on zawsze widoczny
	nawet, gdyby tło było w kolorze tekstu
	*/
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

/* Style dla nagłówka drugiego stopnia w kontenerze "main-image" */
.main-image h2 {
	font-size: 1.5rem; /* Rozmiar czcionki */
}

/* Zapytania o media dla 768px */
@media screen and (min-width: 768px) {
	.main-image {
		font-size: 3rem; /* Rozmiar czcionki */
		height: 40vh; /* Wysokość kontenera wynosi 40% wysokości ekranu */
	}
	
	.main-image h2 {
		font-size: 2rem; /* Rozmiar czcionki */
	}

	.main-content {
		padding: 10px 5rem; /* Wewnętrzny margines kontenera: oś Y, oś X */
	}
}

/* 
Style dla kontenera z główną zawartością strony komponentu
(pod kontenerem "main-image")
*/
.main-content {
	display: flex; /* Ustawienie kontenera na flexbox */
	flex-direction: column; /* Ustawienie kierunku flexbox na kolumnę */
	gap: 1rem; /* Odstęp między elementami w kontenerze */
	width: 100%; /* Szerokość kontenera */
	padding: 10px; /* Wewnętrzny margines kontenera */
}

/* Style dla konteneru z recenzjami */
.main-reviews {
	display: flex; /* Ustawienie kontenera na flexbox */
	flex-direction: column; /* Ustawienie kierunku flexbox na kolumnę */
	gap: 1rem; /* Odstęp między elementami w kontenerze */
	width: 100%; /* Szerokość kontenera */
	align-items: center; /* Wyśrodkowanie elementów wzdłuż osi poziomej */
}

/* Style dla kontenera pojedynczej recenzji */
.review-box {
	flex: 1; /* Rozciągnięcie elementu na całą dostępną przestrzeń */
	border: 1px solid var(--primary-color); /* Obramowanie */
	border-radius: 10px; /* Zaokrąglenie rogów */
	padding: 10px; /* Wewnętrzny margines kontenera */
	margin-bottom: 10px; /* Margines dolny */
	width: 100%; /* Szerokość kontenera */
}

/* Style dla oceny recenzji */
.rating {
	font-size: 1.5em; /* Rozmiar czcionki */
	color: #f39c12; /* Kolor tekstu */
}

/* Style dla nazwy recenzenta */
.reviewer-name {
	font-weight: bold; /* Pogrubienie tekstu */
	margin-top: 10px; /* Margines górny */
}

/* Style dla treści recenzji */
.review-text {
	margin-top: 10px; /* Margines górny */
	font-style: italic; /* Pochylenie tekstu */
	text-align: justify; /* Wyjustowanie tekstu */
}

/* Style dla linku do wszystkich recenzji */
.review-link {
	color: #000; /* Kolor tekstu */
	text-decoration: none; /* Usunięcie podkreślenia */
	font-weight: bold; /* Pogrubienie tekstu */
	transition: all 0.1s ease-in-out;  /* Efekt przejścia */
}

/* 
Style po najechaniu na link do wszystkich recenzji.
Używa zmiennej CSS "accent-color" zdefiniowanej w pliku "main.css",
który zawsze jest ładowany
*/
.review-link:hover {
	color: var(--accent-color); /* Zmiana koloru tekstu */
}
  
/* 
Style dla kontenera przycisku do wyświetlania wszystkich recenzji.
Istnieje po to, żeby link nie zajmował całej szerokości kontenera-rodzica.
*/
.main-more-reviews {
	text-align: right; /* Wyjustowanie tekstu do prawej */
}

/* Style dla zawartości sekcji z dostępną ofertą */
.main-offer {
	display: flex; /* Ustawienie kontenera na flexbox */
	margin: auto; /* Automatyczne wyśrodkowanie kontenera */
	flex-direction: column; /* Ustawienie kierunku flexbox na kolumnę */
	align-items: center; /* Wyśrodkowanie elementów wzdłuż osi poziomej */
	gap: 2rem; /* Odstęp między elementami w kontenerze */
	height: 100%; /* Wysokość kontenera wynosi 100% */
	padding: 0 2px; /* Wewnętrzny margines kontenera: oś Y, oś X */
}
  
/* Style dla tekstu dostępnej oferty */
.main-offer-text {
	display: flex; /* Ustawienie kontenera na flexbox */
	flex-direction: column; /* Ustawienie kierunku flexbox na kolumnę */
	gap: 1rem; /* Odstęp między elementami w kontenerze */
	text-align: justify; /* Wyjustowanie tekstu */
}

/* Style dla kontenera obrazka zespołu "GitGud Pizza" */
.main-offer-image {
	max-width: 25rem; /* Maksymalna szerokość kontenera wynosi 25rem */
}

/* Style dla obrazka zespołu "GitGud Pizza" */
.main-offer-image img {
	border-radius: 25%; /* Zaokrąglenie rogów */
	width: auto; /* Automatyczne dostosowanie szerokości */
}

/* Style dla podpisu pod obrazkiem zespołu "GitGud Pizza" */
.main-offer-image figcaption {
	margin-top: 0.25rem; /* Margines górny */
	text-align: center; /* Wyjustowanie tekstu */
	font-weight: bold; /* Pogrubienie tekstu */
}

/* Style dla mini sekcji przed sekcją z recenzjami */
.main-heading {
	margin-bottom: 1.5rem; /* Margines dolny */
}

/* Zapytania o media dla 1420px */
@media screen and (min-width: 1420px) {
	.main-offer {
	  	flex-direction: row; /* Ustawienie kierunku flexbox na wiersz */
		align-items: stretch; /* Rozciągnięcie elementów wzdłuż osi pionowej */
	}

	.main-offer-text {
		flex: 1; /* Rozciągnięcie elementu na całą dostępną przestrzeń */
  	}

	.main-offer-image img {
		flex: 0; /* Nie rozciągaj elementu */
		max-height: 20rem; /* Maksymalna wysokość obrazka wynosi 20rem */
	}

	.review-text {
		height: 70px; /* Wysokość recenzji wynosi 70px */
	}

	.review-box {
		width: 300px; /* Szerokość kontenera wynosi 300px */
	}

	.main-reviews {
		flex-direction: row; /* Ustawienie kierunku flexbox na wiersz */
		flex-wrap: wrap; /* Zawijanie elementów w kontenerze */
		justify-content: center; /* Wyśrodkowanie elementów wzdłuż osi poziomej */
	}
}