/* MENU COMPONENT */

/* Style dla głównego kontenera komponentu */
.menu-container {
	display: flex; /* Ustawienie kontenera na flexbox */
	flex-direction: column; /* Ustawienie kierunku flexbox na kolumnę */
	gap: 1rem; /* Odstęp między elementami w kontenerze */
	padding: 10px; /* Wewnętrzny margines kontenera */
}

/* Style dla sekcji menu, np. Pizza, Kuchnia włoska, itd. */
.menu-section {
	display: flex; /* Ustawienie kontenera na flexbox */
	flex-direction: column; /* Ustawienie kierunku flexbox na kolumnę */
	gap: 0.5rem; /* Odstęp między elementami w kontenerze */
}

/* Style dla elementu rozwijającego sekcję menu */
.collapsible {
	font-weight: 800; /* Pogrubienie tekstu */
	letter-spacing: 0.2rem; /* Odstęp między literami */
	transition: background-color 0.2s ease-in-out, border-radius 0.2s ease-in-out; /* Efekt przejścia */
	border-radius: 10px; /* Zaokrąglenie rogów */
	/* zmienna CSS zadeklarowana w "main.css" */
	background-color: var(--accent-color);
	color: white; /* Kolor tekstu */
	cursor: pointer; /* Kursor wskazujący na możliwość kliknięcia */
	padding: 18px; /* Wewnętrzny margines */
	width: 100%; /* Szerokość */
	border: none; /* Usunięcie obramowania */
	text-align: left; /* Wyrównanie tekstu do lewej */
	outline: none; /* Usunięcie obramowania po kliknięciu */
	font-size: 15px; /* Rozmiar czcionki */
}

/* 
Style dla elementu rozwijającego sekcję menu po najechaniu
oraz dla klasy "active" (po kliknięciu)
*/
.active,
.collapsible:hover {
	background-color: #925310; /* Kolor tła */
}

/* Style dla elementu rozwijającego sekcję menu po kliknięciu */
.active {
	border-bottom-left-radius: 0; /* Zaokrąglenie rogów z lewego dołu */
	border-bottom-right-radius: 0; /* Zaokrąglenie rogów z prawego dołu */
}

/* 
Style dla pseudo-klasy "after" klasy "collapsible", 
czyli dla dodania zawartości i jej wystylowania "po" elemencie "collapsible".
W tym przypadku jest to znak "+" jeśli sekcja jest zwinięta...
*/
.collapsible:after {
	content: '\002B'; /* Unicode dla znaku "+"  */
	color: white; /* Kolor tekstu */
	font-weight: bold; /* Pogrubienie tekstu */
	float: right; /* Wyrównanie do prawej */
	margin-left: 5px; /* Margines z lewej strony */
}

/* ...lub "-" jeśli jest rozwinięta */
.active:after {
	content: "\2212"; /* Unicode dla znaku "-"  */
}

/* Style dla zawartości rozwijanej sekcji */
.collap-content {
	max-height: 0; /* Maksymalna wysokość */
	overflow: hidden; /* Ukrycie zawartości, która nie mieści się w kontenerze */
	transition: max-height 0.2s ease-out; /* Efekt przejścia */
	background-color: #eee; /* Kolor tła */
	border-bottom-left-radius: 10px; /* Zaokrąglenie rogów z lewego dołu */
	border-bottom-right-radius: 10px; /* Zaokrąglenie rogów z prawego dołu */
}

/* Style dla zawartości sekcji menu */
.menu-content {
    width: 100%; /* Szerokość */
	/* ramki komórek tabeli mają być połączone w jedną linię */
    border-collapse: collapse;
}

/* Style dla komórek nagłówku oraz komórki zawartości dla kontenera "menu-content" */
.menu-content th, .menu-content td {
    padding: 10px; /* Wewnętrzny margines */
}

/* 
Style dla dla pierwszej kolumny (pierwszego dziecka) w wierszach nagłówka (th) 
i danych (td) tabeli o klasie .menu-content 
*/
.menu-content th:nth-child(1), .menu-content td:nth-child(1) {
	text-align: left; /* Wyrównanie tekstu do lewej */
}

/* Style dla pierwszej kolumny (pierwszego dziecka) w wierszach nagłówka (th) */
.menu-content th:nth-child(1) {
    width: 60%; /* Szerokość */
}

/* Style dla 2. oraz 3. kolumny w wierszach nagłówka (th) */
.menu-content th:nth-child(2), .menu-content th:nth-child(3) {
    width: 20%; /* Szerokość */
}

/* Zapytania o media dla 1100px */
@media screen and (min-width: 1100px) {
	.menu-content th:nth-child(1) {
		width: 80%; /* Szerokość */
	}
	
	.menu-content th:nth-child(2), .menu-content th:nth-child(3) {
		width: 10%; /* Szerokość */
	}
}

/* Style dla komórek nagłówku dla kontenera "menu-content" */
.menu-content th {
    background-color: var(--secondary-color); /* Kolor tła */
}

/* 
Style dla parzystych wierszy (.menu-item) 
Dzięki temu co drugi wiersz będzie miał inny kolor tła,
co ułatwi odczytanie danych z menu.
*/
.menu-item:nth-child(even) {
    background-color: #d6cdcd; /* Kolor tła */
}

/* Style dla nazwy pozycji w menu */
.menu-name {
	font-weight: bold; /* Pogrubienie tekstu */
}

/* Style dla ceny pozycji w menu */
.menu-price {
	text-align: center; /* Wyrównanie tekstu do środka */
}