/* RESERVATION COMPONENT */

/* Style dla głównego kontenera komponentu */
.reservation-container {
	padding: 10px; /* Wewnętrzny margines kontenera */
	text-align: justify; /* Wyrównanie tekstu do lewej i prawej */
}

/* Style dla formularza rezerwacji */
#rezerwacja {
	width: 100%; /* Szerokość kontenera wynosi 100% */
	display: flex; /* Ustawienie kontenera na flexbox */
	flex-direction: column; /* Ustawienie kierunku flexbox na kolumnę */
	gap: 1rem; /* Odstęp między elementami w kontenerze */
	margin: 1rem auto; /* Zewnętrzny margines kontenera */
	background-color: #ccc; /* Kolor tła kontenera */
	padding: 2rem; /* Wewnętrzny margines kontenera */
	border-radius: 10px; /* Zaokrąglenie rogów */
}

/* Style dla nagłówka formularza */
#rezerwacja h2 {
	text-align: center; /* Wyrównanie tekstu do środka */
}

/* Zapytania o media dla 1000px */
@media screen and (min-width: 1000px) {
	#rezerwacja {
		width: min(50%, 40rem); /* Szerokość kontenera wynosi 50% lub 40rem w zależności od tego, co jest mniejsze */
	}
}

/* Style dla znacznika etykiety do różnych inputów */
label {
	display: block; /* Ustawienie kontenera na blok */
	font-weight: bold; /* Pogrubienie tekstu */
}

/* Style dla wymienonych inputów oraz znacznika "select" */
input[type="text"],
input[type="email"],
input[type="date"],
input[type="time"],
input[type="number"],
select {
	padding: 0.5rem; /* Wewnętrzny margines */
	border-radius: 10px; /* Zaokrąglenie rogów */
	width: 100%; /* Szerokość kontenera wynosi 100% */
}

/* Style dla wymienionych inputów */
input[type="submit"],
input[type="reset"] {
	padding: 0.5rem; /* Wewnętrzny margines */
	text-transform: uppercase; /* Zamiana tekstu na wielkie litery */
	font-weight: bold; /* Pogrubienie tekstu */
	border-radius: 10px; /* Zaokrąglenie rogów */
	width: 100%; /* Szerokość kontenera wynosi 100% */
	background-color: var(--accent-color); /* Kolor tła */
	color: #fff; /* Kolor tekstu */
	cursor: pointer; /* Kursor wskazujący na możliwość kliknięcia */
	transition: background-color 0.3s ease-in-out; /* Efekt przejścia */
}

/* Style po najechaniu kursorem dla wymienionych inputów */
input[type="submit"]:hover,
input[type="reset"]:hover {
	background-color: #7a4d1d; /* Zmiana koloru tła */
}

/*
Z uwagi na różne zachowanie inputów, 
musiałem wydzielić kilka klas dla ich różnych grup.
*/

/* Style dla grupy inputów nr. 1 */
.input-group1 {
	display: flex; /* Ustawienie kontenera na flexbox */
	flex-direction: column; /* Ustawienie kierunku flexbox na kolumnę */
	gap: 0.2rem; /* Odstęp między elementami w kontenerze */
}

/* Style dla grupy inputów nr. 2 */
.input-group2 {
	display: flex; /* Ustawienie kontenera na flexbox */
	flex-direction: row; /* Ustawienie kierunku flexbox na wiersz */
	gap: 0.5rem; /* Odstęp między elementami w kontenerze */
}

/* Style dla grupy inputów nr. 3 */
.input-group3 {
	width: 100%; /* Szerokość kontenera wynosi 100% */
	border: 1px solid black; /* Obramowanie */
	border-radius: 10px; /* Zaokrąglenie rogów */
	padding: 0.5rem 1rem; /* Wewnętrzny margines */
	display: block; /* Ustawienie kontenera na blok */
	font-weight: bold; /* Pogrubienie tekstu */
}

/* Style dla pola typu "radio" z wyborem podmioru rezerwującego */
.issuer {
	display: flex; /* Ustawienie kontenera na flexbox */
	width: 100%; /* Szerokość kontenera wynosi 100% */
	flex-direction: column; /* Ustawienie kierunku flexbox na kolumnę */
	justify-content: space-evenly; /* Rozłożenie elementów w kontenerze */
}

/* Style dla wiadomości z błędem */
.error-message {
	margin: 0.3rem 0; /* Margines górny i dolny */
	color: var(--error-color); /* Kolor tekstu */
}

/*
Style dla pudełka z błędem dla znaczników: 
"label" oraz "legend" w znaczniku "fieldset"
*/
.error label,
.error fieldset legend {
	color: var(--error-color); /* Kolor tekstu */
}

/*
Style dla pudełka z błędem dla znaczników:
"input" oraz "fieldset"
*/
.error input,
.error fieldset {
	border: 3px solid var(--error-color); /* Obramowanie */
}

/* Style dla wiadomości z informacją */
.info-message {
	margin: 0.3rem 0; /* Margines górny i dolny */
	color: var(--info-color); /* Kolor tekstu */
}

/*
Style dla pudełka z informacją dla znaczników:
"label"
*/
.info label {
	color: var(--info-color); /* Kolor tekstu */
}

/*
Style dla pudełka z informacją dla znaczników:
"input"
*/
.info input {
	border: 3px solid var(--info-color); /* Obramowanie */
}

/* Style dla przycisków "submit" oraz "reset" w formularzu*/
.input-buttons {
	display: flex; /* Ustawienie kontenera na flexbox */
	flex-direction: column; /* Ustawienie kierunku flexbox na kolumnę */
	gap: 1.5rem; /* Odstęp między elementami w kontenerze */
}

/* Style dla karty z rezerwacją */
.card {
    border: 1px solid #ccc; /* Obramowanie */
    background-color: #f9f9f9; /* Kolor tła */
    padding: 20px; /* Wewnętrzny margines */
    border-radius: 5px; /* Zaokrąglenie rogów */
    width: 100%; /* Szerokość kontenera wynosi 100% */
}

/* Zapytania o media dla minimalnej szerokości 480px */
@media screen and (min-width: 480px) {
    .card {
        max-width: 45rem; /* Maksymalna szerokość kontenera wynosi 45rem */
    }
}

/* Style dla nagłówka karty z rezerwacją */
.card-header {
	display: flex; /* Ustawienie kontenera na flexbox */
	justify-content: space-between; /* Rozłożenie elementów w kontenerze */
	align-items: center; /* Wyśrodkowanie elementów wzdłuż osi pionowej */
    border-bottom: 1px solid #ccc; /* Obramowanie dolne */
	padding-bottom: 1rem; /* Wewnętrzny margines dolny */
}

/* Style dla pojedynczych wierszy rezerwacji */
.card-text {
    margin: 10px 0; /* Margines górny i dolny */
}

/* Style dla sekcji z rezerwacjami */
.reservation-section {
	display: flex; /* Ustawienie kontenera na flexbox */
	flex-direction: column; /* Ustawienie kierunku flexbox na kolumnę */
}

/* Style dla sekcji z kartami rezerwacji */
.reservations {
    display: grid; /* Ustawienie kontenera na siatkę */
    grid-template-columns: 1fr; /* Ustawienie jednej kolumny */
    gap: 2rem; /* Odstęp między elementami w kontenerze */
    margin: 2rem 0; /* Margines górny i dolny */
    justify-items: center; /* Wyrównanie elementów wzdłuż osi poziomej */
    align-items: start; /* Wyrównanie elementów wzdłuż osi pionowej od góry */
}

/* Zapytania o media dla minimalnej szerokości 768px */
@media screen and (min-width: 768px) {
	/*
	repeat(auto-fit, minmax(13rem, 1fr)) - funkcją, która automatycznie tworzy tak wiele kolumn, 
	ile zmieści się w kontenerze;
	auto-fit - działa na zasadzie wypełniania dostępnego miejsca w kontenerze jak największą ilością kolumn. 
	Liczba kolumn dostosowuje się do szerokości kontenera;
	minmax(23rem, 1fr) - określa minimalną i maksymalną szerokość każdej kolumny. 
	23rem - minimalna szerokość, a 1fr - maksymalna szerokość;
	fr - jednostka reprezentująca “część dostępnego miejsca”.

	W skrócie: 
	kod tworzy responsywny układ siatki, który automatycznie dostosowuje liczbę 
	i szerokość kolumn do dostępnej przestrzeni
	*/
    .reservations {
        grid-template-columns: repeat(auto-fit, minmax(23rem, 1fr));
    }
}

/* Style dla przycisku usunięcia rezerwacji */
.delete-button {
	background-color: var(--error-color); /* Kolor tła */
	color: #fff; /* Kolor tekstu */
	border: none; /* Usunięcie obramowania */
	padding: 0.5rem 1rem; /* Wewnętrzny margines */
	border-radius: 5px; /* Zaokrąglenie rogów */
	cursor: pointer; /* Kursor wskazujący na możliwość kliknięcia */
	font-weight: bold; /* Pogrubienie tekstu */
	transition: background-color 0.3s ease-in-out; /* Efekt przejścia */
}

/* Style po najechaniu na przycisk usunięcia rezerwacji */
.delete-button:hover {
	background-color: #580303; /* Zmiana koloru tła */
}

/*
Style dla przycisku wypełnienia formularza,
jeśli rezerwacja już istnieje
*/
#fill-button {
	padding: 0.5rem; /* Wewnętrzny margines */
	text-transform: uppercase; /* Zamiana tekstu na wielkie litery */
	font-weight: bold; /* Pogrubienie tekstu */
	border-radius: 10px; /* Zaokrąglenie rogów */
	width: 100%; /* Szerokość kontenera wynosi 100% */
	background-color: var(--info-color); /* Kolor tła */
	color: #fff; /* Kolor tekstu */
	cursor: pointer; /* Kursor wskazujący na możliwość kliknięcia */
	transition: background-color 0.3s ease-in-out; /* Efekt przejścia */
}

/* 
Style po najechaniu na przycisk wypełnienia formularza,
jeśli rezerwacja już istnieje
*/
#fill-button:hover {
	background-color: #1b70b5; /* Zmiana koloru tła */
}